<%= form_for(@group_event) do |f| %>
  <% if @group_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_event.errors.count, 'error') %> prohibited this group_event from being saved:</h2>

      <ul>
      <% @group_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <input name="_method" type="hidden" value="put" />

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :location %><br>
      <%= f.text_field :location , :placeholder=> 'Enter location ...'%>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description, :rows=> '10', :placeholder=> 'Enter description ...'%>
    </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
